body {
    color: white;
}

header {
    background-color: #06131F;
    height: 100px;
}

header img {
    width: 50px;
    margin-left: 200px;
}

main {
    background-color: #1D2D3C;
}

li {
    list-style-type: none;
}

div {
    border: 1px solid white;
}

.disc {
    width: 30%;
    margin: 20px;
}


.card-disc li img {
    width: 300px;
}