body {
    color: white;
}

header {
    background-color: #06131F;
    height: 100px;
}

header img {
    width: 50px;
    margin-left: 200px;
}

main {
    background-color: #1D2D3C;
}

li {
    list-style-type: none;
    padding: 5px;
    margin-top: 5px;
}

.disc {
    width: 30%;
    margin: 20px;
    background-color: #112030;
    border-radius: 10px;
}


.card-disc li img {
    width: 300px;
}

.important {
    font-weight: bold;
    font-size: 20px;
}